<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!-- Enable running in .NET CLR versions 2.0 or 4.0. -->
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Sovren.SkillsEditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/>
  </startup>
  <appSettings>
    <add key="ParsingService.Urls" value="https://soap.resumeparsing.com/v9/Services.asmx;https://eu-soap.resumeparsing.com/v9/Services.asmx" />
    <add key="TaxonomyFile" value="C:\Users\User\Desktop\Darwinbox\stack ranking\Sovren.SkillsEditor\Sovren.SkillsEditor.Data\Taxonomy.bg.sdf" />
    <add key="SkillFile" value="C:\Users\User\Desktop\Darwinbox\stack ranking\Sovren.SkillsEditor\Sovren.SkillsEditor.Data\Skill.bg.sdf" />
    <add key="txtAccountId" value="" />
    <add key="txtServiceKey" value="" />
  </appSettings>
</configuration>